body {
  background-color: black;
  color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-width: 500px;
  line-height: 1.2rem;
}

h1 {
  font-size: 5rem;
  padding-bottom: 0.5em;
}

.icons {
  font-size: 3rem;
  margin-bottom: 2em;

  & > * {
    margin: 0.5em;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in-out;
  }

  & > *:hover {
    color: orange;
    transform: translate(-5px, -5px);
  }
}
