$font-primary: 'Darker Grotesque', sans-serif;
$font-header: 'Abril Fatface', cursive;
$color-dark: #363636;
$color-light: #d1c8a6;
$color-brown: #76564a;
$color-red: #c0422a;
$color-playbutton: $color-light;

body {
  background-color: black;
  color: white;
  font-family: $font-primary;
  font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  // min-height: 35vh;
}

.footer {
  justify-content: end !important;
}

h1 {
  font-size: 5rem;
  padding-bottom: 0.5em;
  font-family: $font-header;
}

.icons {
  display: flex;
  font-size: 3rem;
  margin-bottom: 2em;
  font-family: $font-header;

  & > * {
    margin: 0.5em;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in-out;
  }

  & > *:hover {
    color: orange;
    transform: translate(-5px, -5px);
  }
}

#thegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 900px;
  justify-items: center;
}