body {
  background-color: black;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: inherit; }

section {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  min-height: 35vh; }

h1 {
  font-size: 5rem;
  padding-bottom: 0.5em;
  font-family: "Abril Fatface", cursive; }

.icons {
  font-size: 3rem;
  margin-bottom: 2em;
  font-family: "Abril Fatface", cursive; }
  .icons > * {
    margin: 0.5em;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in-out; }
  .icons > *:hover {
    color: orange;
    transform: translate(-5px, -5px); }

#thegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 900px;
  justify-items: center; }
